# ---- Python basics ----
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---- Virtual envs ----
.venv/
venv/
env/

# ---- IDE ----
.vscode/
.idea/

# ---- Generated / large artifacts ----
*.log
*.zip
*.bin
*.idx
*.index
faiss.index*
faiss*.bin
*.ipynb_checkpoints/

data/*.zip
data/*.tar*
data/*.7z

# backend/data_beir_fiqa.json
